* {
  margin: 0;
  padding: 0;
  /* background-color: white; */
  box-sizing: border-box;
}

/* main page navbar organization */
.navbar {
  padding: 0px 35px 0px 0px; /* shift nav buttons to the left */
  /* border: 2px solid black; */
  /* background-color: rgb(230, 230, 230); */
  position: absolute;
  right: 0;
  width: 100%;
}
.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 24px 0px 2px 0px;
  margin: 0px 18px;
  text-decoration: none;
  /* font-size: 1.2rem; */
  font-weight: 10%;
  border-radius: 15px;
  /* background-color: rgb(230, 230, 230); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar a:hover {
  color: orangered;
}

/* navbar underline animations */
a.navline {
  position: relative;
}
a.navline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: orangered;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
a.navline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* YA logo */
.navbar img {
  max-width: 50px; /* scale logo */
  margin: 9px 0px 0px 35px; /* shift logo down and right */
  /* visibility: hidden; */
}

/* main page walpaper */
.top_box {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/processed/4k.jpg);
  /* background-position: top; */
  background-repeat: no-repeat;
  background-size: contain;
  /* background-attachment: fixed; */
  background-position-y: 65px;
  background-size: 100% auto;
  /* height: 500px; */
}

/* main header */
.main_box {
  /* border: 2px solid black; */
  position: relative;
  padding-top: 100px;
  float: center;
  width: 500px;
  margin: 0 auto;
  z-index: -1;
  text-align: justify;
  color: white;
}
.main_box h1 {
  position: relative;
  text-align: center;
  padding-top: 100px;
  z-index: -1;
}
.rest_of_page {
  width: 100%;
  background: white;
  background-size: 100%;
  z-index: 100;
  float: center;
  margin-top: 100px;
  background-color: white;
}
