@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Lato", sans-serif;
}

/* bold classes of bold */
.bold {
  font-weight: 600;
}

/* main page navbar organization */
.navbar {
  padding: 0px 35px 0px 0px; /* shift nav buttons to the left */
  /* border: 2px solid black; */
  /* background-color: rgb(230, 230, 230); */
  position: sticky;
  right: 0;
  width: 100%;
}

.navbar h1 {
  position: absolute;
  top: 4px;
  left: 90px;
  /* border: 2px solid rgb(29, 31, 39); */
  padding: 6px;
  /* border-radius: 25px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar div a {
  padding: 0;
  margin: 0;
}
.navbar div img {
  padding: 0;
  margin: 0;
}

#ya {
  position: absolute;
  top: 7px;
  left: 40px;
  max-width: 50px;
  transition: 0.2s ease-in-out;
}
#ya:hover {
  top: 5px;
}
#linkedin {
  position: absolute;
  top: 4px;
  /* right: 15px; */
  left: 10px;
  transition: 0.2s ease-in-out;
  /* border: 2px solid red; */
}
#github {
  position: absolute;
  top: 32px;
  /* right: 15px; */
  left: 10px;

  transition: 0.2s ease-in-out;
  /* border: 2px solid blue; */
}
#linkedin:hover {
  top: 2px;
}
#github:hover {
  top: 30px;
}

.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 24px 0px 2px 0px;
  margin: 0px 18px;
  text-decoration: none;
  /* font-size: 1.2rem; */
  /* font-weight: 10%; */
  /* border-radius: 15px; */
  /* background-color: rgb(230, 230, 230); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.2s ease-in-out;
}
.navbar a:hover {
  color: orangered;
}

/* navbar underline animations */
a.navline {
  position: relative;
}
a.navline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: orangered;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
a.navline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* YA logo */
.navbar img {
  max-width: 50px; /* scale logo */
  margin: 7px 0px 0px 40px; /* shift logo down and right */
  /* visibility: hidden; */
}

.navbar {
  background-color: white;
  position: fixed;
  z-index: 100;
  height: 60px;
}

.main_box {
  /* border: 2px solid red; */
  margin: 0 99999px 0 0;
  padding-bottom: calc(
    100vh - 643px
  ); /* prevents the about section from showing in home */
}
.main_box div1 img {
  margin: 72px 0px 0px 80px;
  margin-top: calc(
    (100vh + 60px - (400px + 12px + 60px)) / 2
  ); /* change this accorging to left cover image height */
  /* border: 2px solid white; */
  border-radius: 8px;
  /* height: 400px; */
  /* width: 770px; */
  width: 900px;
  /* width: 50vw; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 42%; */
}

.main_box div2 img {
  margin: 10px 0px 0px 80px;
  /* border: 2px solid white; */
  border-radius: 8px;
  /* width: 770px; */
  width: 900px;
  /* height: 93.5px; */
  /* width: 50vw; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 42%; */
}

/* cover photo right */
.main_box div3 img {
  position: absolute;
  width: 400px;
  height: 400px;
  /* top: calc(((593px + 60px - 400px) / 2)); */
  top: calc(((100vh + 60px - 400px) / 2));
  right: calc(40% - 550px);
  /* border: 4px solid black; */
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* changing left cover image to be responsive */
@media only screen and (max-width: 1078px) {
  .main_box div1 img {
    /* margin: 0;
    margin-top: 72px; */
    margin: 0 auto;
    margin-top: calc((100vh + 60px - (400px + 12px + 60px)) / 2);
    width: 100%;
  }
  .main_box div2 img {
    /* margin: 0;
    margin-top: 10px; */
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
  }
  .main_box {
    display: block;
    margin: 0 auto;
    width: 85%;
  }
}

/* making right cover image disappear responsively */
@media only screen and (max-width: 1406px) {
  .main_box div3 img {
    transform: scale(0);
    transition: 0.3s ease-out;
    visibility: hidden;
  }
}

/* main page walpaper */
.top_box {
  /* background: linear-gradient(225deg, rgb(0, 0, 0), rgb(0, 0, 0)); */
  /* url(../images/processed/code\ ab\ final1.jpg); */
  /* background: url(../images/processed/code\ final.jpg); */
  /* background-position: top; */
  background-repeat: no-repeat;
  background-size: contain;
  /* background-attachment: fixed; */
  background-position-y: 60px;
  background-size: 100% auto;
  /* height: 593px; */
  height: 100vh;
}
.about_page h1 {
  font-size: 3em;
  /* padding-bottom: 25px; */
  margin-bottom: 25px;
  border: 0px solid;
  background: rgb(216, 112, 112);
  border-radius: 100px;
  color: white;
  /* font-family: "custom bold"; */
}
.about_page {
  /* height: 500px; */
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  color: black;
  margin: 0 auto;
  /* margin-top: 20%; */
  width: 60%;
  /* margin-top: 50px; */
  /* padding-right: 50%;
  padding-left: 50px; */
  /* border: 2px solid red; */
}
#about_p {
  font-size: 1.2em;
  text-align: justify;
  /* font-family: "custom"; */
}
/* 
a.about_anchor {
  display: block;
  top: -250px;
  visibility: hidden;
} */

#experience {
  width: 100%;
  /* height: 500px; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/processed/4k.jpg); */
  background: white;
  background-size: 100%;
  /* z-index: 100; */
  /* float: center; */
  /* margin-top: 300px; */
  /* padding-bottom: 2100px; this number shifts down the "Contact" tag */
  /* border: 2px solid red; */
  background-color: white;
}

.experience_page {
  /* height: 500px; */
  text-align: center;
  padding-top: 59.5px;
  margin: 0 auto;
  width: 60%;
  /* border: 2px solid red; */
}

.experience_page h1 {
  font-size: 3em;
  border: 0px solid;
  background: rgb(216, 112, 112);
  border-radius: 100px;
  color: white;
  /* padding-bottom: 25px; */
  /* font-family: "custom bold"; */
}

.experience_page p {
  margin-top: 10px;
  font-size: 1.2em;
  background: rgba(255, 255, 0, 0.7);
  border-radius: 8px;
  padding: 5px;
  display: inline-block;
}

#experience_p {
  font-size: 1.2em;
  text-align: justify;
  /* font-family: "custom"; */
}

/* GALLERY PLACE IS HERE */

/* TIMELINE START */
.timeline {
  position: relative;
  /* float: right; */
  /* margin: 50px 100px 50px 100px; */
  margin: 50px auto;
  /* margin-right: 20px; */
  /* padding: 0 100px; */
  /* margin: 50px auto; */
  width: 100%;
  /* max-width: 1300px; */
  max-width: 70%;
  /* padding: 40px 0; */
  /* border: 2px solid red; */
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: slategray;
  /* border: 2px solid blue; */
}

.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 26px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgb(216, 112, 112);
  border-radius: 50%;
  /* box-shadow: 0 0 0 3px rgba(216, 112, 147, 0.2); */
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 26px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgb(216, 112, 112);
  border-radius: 50%;
  /* box-shadow: 0 0 0 3px rgba(216, 112, 147, 0.2); */
}

.timeline ul li h3 {
  font-size: 1.3em;
  font-weight: 900;
  /* color: rgb(84, 96, 109); */
  color: rgb(216, 112, 112);
}

.timeline ul li h3 a {
  text-decoration: none;
  color: rgb(216, 112, 112);
  transition: 0.2s ease-in-out;
}

.timeline ul li h3 a:hover {
  color: rgba(255, 68, 0, 0.822);
}

.timeline ul li h3 {
  transition: 0.2s ease-in-out;
}

.timeline ul li h3:hover {
  color: rgba(255, 68, 0, 0.822);
}

/* experience_hover.css HERE */

.timeline ul li p {
  font-size: 1.1em;
  margin: 10px 0 0;
}

.timeline ul li:nth-child(odd) .t_time {
  position: absolute;
  top: 12px;
  /* Move 42 pixels from either side (this is the distance to the title) */
  right: -239px; 
  padding: 8px 16px;
  background: rgb(216, 112, 112);
  color: white;
  font-size: 1.1em;
  border-radius: 50px;
  /* box-shadow: 0 0 0 3px rgba(216, 112, 147, 0.2); */
}

.timeline ul li:nth-child(even) .t_time {
  /* Move 41 pixels from either side (this is the distance to the title) */
  position: absolute;
  top: 12px;
  left: -221px;
  padding: 8px 16px;
  background: rgb(216, 112, 112);
  color: white;
  border-radius: 18px;
  /* box-shadow: 0 0 0 3px rgba(216, 112, 147, 0.2); */
}
/* TIMELINE END */

/* CONTACT START */
.contact_page h1 {
  overflow: auto;
  font-size: 3em;
  /* margin-bottom: 25px; */
  border: 0px solid;
  /* padding-top: 60px; */
  background: rgb(216, 112, 112);
  border-radius: 100px;
  color: white;
  /* border: 2px solid red; */
}
.contact_page {
  overflow: auto;
  position: relative;
  /* position: absolute; */
  top: 0px;
  text-align: center;
  /* bottom: 0; */
  /* padding-top: 60px; */
  padding-bottom: 40px;
  /* color: black; */
  margin: 0 auto;
  width: 60%;
  /* border: 2px solid red; */
}
#contact {
  padding-top: 60px;
}

.c_wrapper {
  padding: 0 100px;
}

.c_form {
  margin: 0 auto;
  max-width: 850px;
  /* background: rgba(112, 166, 216, 0.801); */
  background: rgba(216, 142, 112, 0.774);
  /* background: rgba(216, 142, 112, 0.534); */
  /* background: rgba(112, 128, 144, 0.171); */
  /* border: 2px solid red; */
  padding: 30px;
  border-radius: 12px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.c_input_fields {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.c_input_fields,
.c_msg {
  width: 500px;
}

.c_input_fields .c_input,
.c_msg textarea {
  margin: 10px 0;
  background: transparent;
  /* background: rgba(112, 128, 144, 0.1); */
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  border-radius: 5px;
  /* border-bottom: 2px solid black; */
  padding: 10px;
  /* color: white; */
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  width: 100%;
}

.c_msg textarea {
  height: 232px;
}

::-webkit-input-placeholder {
  /* color: rgba(0, 0, 0, 0.5); */
  color: white;
}

::-moz-input-placeholder {
  /* color: black; */
  color: white;
}

::-ms-input-placeholder {
  /* color: black; */
  color: white;
}

.c_btn {
  background: rgb(216, 112, 112);
  border: 0;
  outline: 0;
  /* background: white; */
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
}

.c_btn:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 9999px) {
  .c_form {
    flex-direction: column;
  }
  .c_msg textarea {
    height: 80px;
  }
  .c_input_fields,
  .c_msg {
    width: 100%;
  }
}

.c_else {
  /* background: rgba(216, 142, 112, 0.774); */
  margin: 0 auto;
  padding: 25px 100px;
  max-width: 1050px;
}

.c_else div {
  background: rgba(216, 142, 112, 0.774);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.c_else h3 {
  color: white;
  font-size: 1.2em;
}

.c_else p {
  padding-top: 8px;
  padding-left: 25px;
  color: white;
  font-size: 1.1em;
}

.c_else p a {
  text-decoration: none;
  color: rgb(207, 0, 0);
  transition: 0.3s ease-in-out;
}

.c_else p a:hover {
  color: orangered;
}

/* CONTACT END */

#copyright {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

#copyright p {
  color: slategray;
}
