<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <div class="navbar">
    <img src="../static/images/processed/YA logo 100.jpg" alt="YA" />
    <a href="./contact.html" class="navline">Contact</a>
    <a href="./experience.html" class="navline">Experience</a>
    <a href="./about.html" class="navline">About</a>
    <a href="./home.html" class="navline">Home</a>
  </div>

  <div class="hello" style="background-color: aqua">
    <p>hduhbcuebcnx9eybnx08ew9</p>
  </div>
</html>
