<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yehya Albakri</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <!-- <body class="top_box"> -->
  <div class="top_box">
    <div class="navbar">
      <img src="../static/images/processed/YA logo 100.jpg" alt="YA" />
      <a href="./contact.html" class="navline">Contact</a>
      <a href="./experience.html" class="navline">Experience</a>
      <a href="./about.html" class="navline">About</a>
      <a href="./home.html" class="navline">Home</a>
    </div>
  </div>
  <div>{% block page %}{% endblock %}</div>
</html>
