<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yehya Albakri</title>
    <link
      rel="icon"
      href="../static/images/processed/YAlogo.svg"
      type="image/icon type"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <!-- <body class="top_box"> -->
  <div class="top_box">
    <div class="navbar">
      <div id="ya">
        <a
          href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=yehyalbakri@gmail.com"
          target="_blank"
          ><img src="../static/images/processed/YAlogo cropped.svg" alt="YA" />
        </a>
      </div>
      <h1>Yehya Albakri</h1>
      <div id="github">
        <a href="https://github.com/YA9" target="_blank"
          ><img src="../static/images/processed/github.svg" alt="GitHub"
        /></a>
      </div>
      <div id="linkedin">
        <a href="https://www.linkedin.com/in/yalb/" target="_blank"
          ><img src="../static/images/processed/linkedin.svg" alt="Linkedin"
        /></a>
      </div>
      <a href="./contact.html" class="navline">Contact</a>
      <a href="./experience.html" class="navline">Experience</a>
      <a href="./about.html" class="navline">About</a>
      <a href="./home.html" class="navline">Home</a>
    </div>

    <div class="main_box">
      <div1><img src="../static/images/processed/yehya.png" alt="" /></div1>
      <div2
        ><img src="../static/images/processed/yehya output1.png" alt=""
      /></div2>
      <div3><img src="../static/images/processed/me (1).jpg" alt="" /></div3>
    </div>
    <div class="about_page">
      <div id="about">
        <h1>About</h1>
        <p id="about_p">
          Welcome! My name is Yehya Albakri. I'm currently a computer science
          student at Olin College of Engineering. I have experience in
          full-stack development, machine learning, data science, and data
          structures and algorithms. My passion lies in the pursuit of excelence
          and innovation in software. My highest priority in development is
          value creation, making a product that is useful and convinient to the
          consumer. Second to that is the creation of a polished product that is
          fast, responsive, and efficient.
        </p>
      </div>
    </div>
    <div class="experience_page">
      <div id="experience">
        <h1>Experience</h1>
        <p id="experience_p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem vel delectus officiis sit fugit facere est quam
          distinctio tempore! Laudantium architecto labore quae reprehenderit
          mollitia atque, maxime consectetur. At dolorum ad cum excepturi
          ducimus ratione minima modi hic vitae vel! Doloribus illum, fuga harum
          consequatur excepturi corrupti voluptatum quas aspernatur est? Ab
          quaerat illum itaque. Earum tempora ex assumenda molestiae deserunt
          quod explicabo quas totam modi perferendis fugiat quae ipsa sint
          dolorem tempore blanditiis odit, id eum, temporibus quis eveniet
          distinctio sed! Quibusdam nesciunt molestias tenetur hic rerum fuga
          praesentium impedit reprehenderit doloribus. Ut, id reprehenderit.
          Facere perspiciatis accusantium sunt.
        </p>
      </div>
      <div class="experience_photos_row">
        <div class="experience_photos_col">
          <img src="../static/images/processed/card.jpg" alt="" class="popup" />
          <img src="../static/images/processed/hat.jpg" alt="" class="popup" />
          <img
            src="../static/images/processed/hover.jpg"
            alt=""
            class="popup"
          />
        </div>
        <div class="experience_photos_col">
          <img src="../static/images/processed/lab.jpg" alt="" class="popup" />
          <img src="../static/images/processed/me.JPG" alt="" class="popup" />
          <img src="../static/images/processed/pot.jpg" alt="" class="popup" />
        </div>
        <div class="experience_photos_col">
          <img src="../static/images/processed/card.jpg" alt="" class="popup" />
          <img src="../static/images/processed/hat.jpg" alt="" class="popup" />
          <img src="../static/images/processed/lab.jpg" alt="" class="popup" />
        </div>
        <div class="experience_photos_col">
          <img
            src="../static/images/processed/hover.jpg"
            alt=""
            class="popup"
          />

          <div class="image_2">
            <img
              src="../static/images/processed/pot.jpg"
              alt=""
              class="popup"
            />
            <div class="image2">
              <img id="im2" src="../static/images/processed/pot.jpg" alt="" />
            </div>
          </div>

          <div class="image_1">
            <img
              src="../static/images/processed/hover.jpg"
              alt=""
              class="popup"
            />
            <div class="image1">
              <img id="im1" src="../static/images/processed/hover.jpg" alt="" />

              <h5 id="txt1">
                Insert brief description here Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Dolores labore voluptas.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- </body> -->
  </div>
</html>
