<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yehya Albakri</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <!-- <body class="top_box"> -->
  <div class="top_box">
    <div class="navbar">
      <img src="../static/images/processed/YA logo 100.jpg" alt="YA" />
      <a href="./contact.html" class="navline">Contact</a>
      <a href="./experience.html" class="navline">Experience</a>
      <a href="./about.html" class="navline">About</a>
      <a href="./home.html" class="navline">Home</a>
    </div>

    <div class="main_box">
      <h1 class=>Welcome</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at
        officiis voluptates sit quasi consectetur provident voluptate eos culpa?
        Nobis ut similique adipisci officiis ipsum saepe laudantium ex, eligendi
        sapiente mollitia qui nam quas debitis accusamus atque eum vitae non!
        Fugit perferendis unde nobis eveniet officiis dolorem hic dolores,
        consequatur distinctio quidem. Doloribus vitae, illum temporibus totam
        unde et cum repellat dolore ab molestiae, eaque iste ratione. Laboriosam
        voluptas eum fugiat quam magnam ab? Atque, animi non! Quam
        necessitatibus unde expedita praesentium quibusdam amet explicabo
        incidunt ad quod eius! Ducimus et iste corporis eius reiciendis. Saepe
        facere error cumque odit?
      </p>
    </div>
    <div class="about_page">
      <div id="about"><h1>About</h1>
      <p id="about_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sequi tempore praesentium cupiditate animi ipsa illum eum numquam doloribus aliquam iure sint expedita neque, sit placeat repudiandae cum officia commodi amet. Doloribus sapiente ex nulla debitis impedit ipsa perferendis provident fugit explicabo laboriosam maxime adipisci dolorum eveniet nesciunt amet, natus exercitationem atque. Dolorum facilis labore at. Nemo repellat aliquam reiciendis impedit sapiente vero ipsum molestiae aliquid sit quidem velit odit corrupti ad nostrum explicabo labore, perferendis sunt in cupiditate, laudantium alias! Tempore, excepturi? Consectetur nulla pariatur ut praesentium temporibus officiis earum veniam harum est rem? Nam fugit quibusdam doloribus porro.</p></div>
    </div>
    <div class="experience_page">
      <div id="experience"><h1>Experience</h1>
        <p id="experience_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vel delectus officiis sit fugit facere est quam distinctio tempore! Laudantium architecto labore quae reprehenderit mollitia atque, maxime consectetur. At dolorum ad cum excepturi ducimus ratione minima modi hic vitae vel! Doloribus illum, fuga harum consequatur excepturi corrupti voluptatum quas aspernatur est? Ab quaerat illum itaque. Earum tempora ex assumenda molestiae deserunt quod explicabo quas totam modi perferendis fugiat quae ipsa sint dolorem tempore blanditiis odit, id eum, temporibus quis eveniet distinctio sed! Quibusdam nesciunt molestias tenetur hic rerum fuga praesentium impedit reprehenderit doloribus. Ut, id reprehenderit. Facere perspiciatis accusantium sunt.</p></div>
        <div class="experience_photos_row">
            <div class="experience_photos_col">
            <img src="../static/images/processed/card.jpg" alt="" class="popup">
            <img src="../static/images/processed/hat.jpg" alt="" class="popup">
            <img src="../static/images/processed/hover.jpg" alt="" class="popup">
            </div>
            <div class="experience_photos_col">
            <img src="../static/images/processed/lab.jpg" alt="" class="popup">
            <img src="../static/images/processed/me.JPG" alt="" class="popup">
            <img src="../static/images/processed/pot.jpg" alt="" class="popup">
            </div>
            <div class="experience_photos_col">
            <img src="../static/images/processed/card.jpg" alt="" class="popup">
            <img src="../static/images/processed/hat.jpg" alt="" class="popup">
            <img src="../static/images/processed/lab.jpg" alt="" class="popup">
            </div>
            <div class="experience_photos_col">
            <img src="../static/images/processed/hover.jpg" alt="" class="popup">

            <div class="image_2">
            <img src="../static/images/processed/pot.jpg" alt="" class="popup">
            <div class="image2">
              <img id="im2" src="../static/images/processed/pot.jpg" alt="" class="popup">
              </div>
            </div>

            <div class="image_1">
              <img src="../static/images/processed/hover.jpg" alt="" class="popup">
              <!-- <h5 id=txt1>Insert brief description here Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores labore voluptas.</h5> -->
              <div class="image1">
              <img id="im1" src="../static/images/processed/hover.jpg" alt="">
              
              <h5 id=txt1>Insert brief description here Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores labore voluptas.</h5>
              </div>
            </div>

            </div>
            
            
       </div>
       
     </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- </body> -->
  </div>
</html>
